.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
}
